.mat-card-company{
  height: 15em;
  width: 18em;
  border: #cccccc 1px solid;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
.logo-wrapper{
  margin-top: 1vh;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  height: 100%;
}

.logo {
  width: 60%;
}
