<mat-toolbar class="date-span" color="primary">
  {{formatDate(date)}}
</mat-toolbar>

<div class="table-container">
  <table [dataSource]="stockInfoObjects" class="mat-elevation-z8" mat-table multiTemplateDataRows>

    <ng-container *ngFor="let column of columnsToDisplay" matColumnDef="{{column}}">
      <th *matHeaderCellDef mat-header-cell> {{column}} </th>
      <td *matCellDef="let element" mat-cell> {{element[column]}} </td>
    </ng-container>

    <ng-container matColumnDef="expand">
      <th *matHeaderCellDef aria-label="row actions" mat-header-cell>&nbsp;</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="toggleExpanded(element.Ticker); $event.stopPropagation()" aria-label="expand row"
                mat-icon-button>
          <mat-icon *ngIf="expandedTicker !== element.Ticker">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedTicker === element.Ticker">keyboard_arrow_up</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length" mat-cell>
        <div [@detailExpand]="element.Ticker === expandedTicker ? 'expanded' : 'collapsed'"
             class="example-element-detail">
          <div class="description-flex-item">
            <div class="example-element-diagram">
              <img alt="logo" class="logo" src="https://logo.clearbit.com/{{ element.Website }}" (error)="handleImageError($event)">
            </div>
          </div>
          <div class="example-element-description description-flex-item">
            <div><strong>Days To Cover</strong></div>
            <div><strong>Quarterly Growth</strong></div>
            <div><strong>Short Interest</strong></div>
            <div><strong>Implied Move</strong></div>
            <div>{{element['Days To Cover'] | number:'1.1-1'}}</div>
            <div>{{element['Quarterly Growth'] * 100 | number:'1.1-1'}}%</div>
            <div>{{element['Short Interest'] * 100 | number:'1.1-1'}}%</div>
            <div>{{element['Implied Move'] * 100 | number:'1.1-1'}}%</div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="columnsToDisplayWithExpand" mat-header-row></tr>
    <tr (click)="expandedTicker = expandedTicker === element.Ticker ? null : element.Ticker" *matRowDef="let element; columns: columnsToDisplayWithExpand;"
        [class.example-expanded-row]="element.Ticker === expandedTicker"
        class="example-element-row"
        mat-row>
    </tr>
    <tr *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row" mat-row></tr>

  </table>
</div>
