{% load static %}
{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

     <link rel="stylesheet" type="text/css"  href="{% static '/css/HomeStyle.css' %}">

</head>
<body>

 <div class="container">

        <ul class="responsive-table">
            <li class="table-header">
                <div class="col col-1">Name</div>
                <div class="col col-2">Market Cap</div>
                <div class="col col-2">EPS Est.</div>
                <div class="col col-2">Implied Move</div>
                <div class="col col-2">EPS Growth</div>
                <div class="col col-2">Short Interest</div>
                <div class="col col-2">Days To Cover</div>
            </li>
            {% for stock_info in stock_info_objects %}
                <li class="table-row">
                        <div class="col col-1 stock-item">
                            <div class="image-container"><img src="https://logo.clearbit.com/{{ stock_info.Website }}?size=70" alt="logo"></div>
                            <div class="details-container">
                                <span class="ticker">{{ stock_info.Ticker }}</span>
                                <span>{{ stock_info.Name }}</span>
                            </div>
                        </div>
                        <div class="col col-2" >{{ stock_info.Market_Cap|div:1000000000|floatformat:2 }}B</div>
                        <div class="col col-2">{{ stock_info.Estimate|floatformat:2 }}</div>
                        <div class="col col-2">{{ stock_info.Implied_Move|mul:100|floatformat:2 }}%</div>
                        <div class="col col-2">{{ stock_info.Quarterly_Growth|mul:100|floatformat:2 }}%</div>
                        <div class="col col-2">{{ stock_info.Short_Interest|mul:100|floatformat:2 }}%</div>
                        <div class="col col-2">{{ stock_info.Days_To_Cover|floatformat:2 }}</div>
                </li>
            {% endfor %}
        </ul>

    </div>

</body>
</html>