<div class="carousel-container-style">
<ngx-slick-carousel #slickModal="slick-carousel" [config]="slideConfig" class="carousel-style" id="slick-carousel">

  <ng-container ngxSlickItem *ngFor="let date of getDates(calenderData)" class="container">

    <mat-grid-list [cols]="cols" gutterSize="1vw" rowHeight="8:7" class="grid-list">

       <a [routerLink]="['/', formatDateRoute(date)]" class="link">

        <mat-toolbar color="primary">
          <mat-toolbar-row>
            <span>{{date | date: 'EEEE, LLLL d'}}</span>
            <span class="example-spacer"></span>
            <mat-icon aria-hidden="false">arrow_outward</mat-icon>
          </mat-toolbar-row>

        </mat-toolbar>

        </a>


        <mat-grid-tile *ngFor="let item of calenderData[date]" class="grid-tile">


          <app-company-card [companyInfo]="item"></app-company-card>


        </mat-grid-tile>

    </mat-grid-list>

  </ng-container>


</ngx-slick-carousel>

</div>
