
:root{
  --cust-primary: #e9f0ff;
  --secondary: #ffffff;
  --accent: #52568e;
  --background: #6363fc;
  --text: #040406;
}

.carousel-container-style{
  overflow: hidden;
  margin-left: 1vw;
  margin-right: 1vw;
}

.carousel-style{
  height: 92vh;
  margin-left: 1vw;
  margin-right: 1vw;
}

mat-toolbar{
  border-radius: 10px; margin-top: 1vh
}

.slick-slide{
  margin-left: 1vw;
  margin-right: 1vw;
}

.grid-list{
  justify-content: center;
  align-items: center;
}

.link{
  transition: opacity 0.3s ease;
  text-decoration: none;
  border-radius: 20px;
}

.link:hover{
  opacity: 0.9;
}

.container{
  display: flex;
  justify-content: center;
}

.logo-wrapper{
  margin-top: 1vh;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  height: 100%;
}

.logo {
  width: 60%;
}

.mat-card-company{
  height: 15em;
  width: 20em;
  border: #cccccc 1px solid;
}


.example-spacer {
  flex: 1 1 auto;
}
